#mockup {
    width: 238px;
    height: 197px;
    background-image: url(https://raw.githubusercontent.com/becodeorg/gnt-yu-3-21/master/1.The-Field/5.End-of-Field/2.End-of-Field-Challenge/images/normal-res/simple/interface.07.png?token=ANMEXTLW3SC5OGFO4MX765K7C2NIA);
    position: absolute;
    top: 252px;
    left: 647px;
    opacity: 0.2;
    z-index: 10;
    pointer-events: none;
  }
  body{
      background-color: black;
  }
  .widget{ 
      background-color: white;
      width: 238px;
      height: 197px;
      margin-top: 252px;
      margin-left: 640px;
      font-family: 'Roboto Condensed', sans-serif;
      .city{ 
          color: #5C777B ;
          padding-top: 15px;
          padding-left: 16px;
          font-size: 17px;
          font-weight:400;
          padding-top: 18px;
        }
    .cointener{
          position: relative;
          margin-top: 0;
          padding-top: 0;
    }
           .adres{
            padding-top: 12px;
             color: #436367;
             font-size: 16px;
             padding-left: 14px;
             font-weight:800;
            }
        
    .box{
        display: inline;
         padding-bottom: 20px;
     i{
        padding-top: 13px;
         color:#2B4C52 ;
         font-size: 21px;
         padding-left: 15px;
       }
    }
  }