#mockup {
    width: 722px;
    height: 708px;
    background-image: url(https://raw.githubusercontent.com/becodeorg/gnt-yu-3-21/master/1.The-Field/5.End-of-Field/2.End-of-Field-Challenge/images/normal-res/simple/interface.04.png?token=ANMEXTIDUKKRCTOBLJPCGSS7C2QTE);
    
    position: absolute;
    top: 0;
    left: 396px;
    
    opacity: 0.2;
    z-index: 10;
    pointer-events: none;
  }
  body{
      background-color: black;
  }
  .widget{
      background-color: white;
      width: 720px;
      height: 704px;
      margin-left: 390px;
      font-family: 'Sawarabi Mincho', sans-serif;
      img{
          width: 705px;
          height: 460px;
          object-fit: scale-down; 
          display:block;
          padding-bottom: 0;
          padding-left: 8px;
          padding-top: 10px;
      }
      .phototext{
          float: right;
          margin-top: 1px;
          padding-top: 0;
          font-size: 9px;
          padding-right: 10px;
          color: #D3D3D3;
      }
      h1{
          width: 330px;
          padding-left: 197px;
          text-align: center;
          padding-top: 16px;
          font-size: 23px;
        }
        hr{ 
            width: 20%;
            background:#D3D3D3;
             border: 0px;
             height: 1px;
        }
        p{
            font-size: 13px;
            text-align: center;
            padding: 0 97px;
            font-weight: 700;
        }
        .last{
            text-align: center;
            color: #D3D3D3;
            font-size: 10px;
        }
  }